* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: end;
    height: 8vh;
    color: white;
}




main {
    display: flex;
    justify-content: center;
    height: 81vh;
}

.speak {
    line-height: 20px;
    font-size: 12px;
    margin-right: 10px;
    background-color: rgb(87, 87, 87);
    height: 20px;
    padding: 2px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
}

.wide {
    font-size: 13px;
    line-height: 20px;
    background-color: rgb(87, 87, 87);
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 5px 2px 5px;
}


.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 86vw;
}

.image-container {
    position: relative;
}

.pinco {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 13px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
    line-height: 22px;
    margin-bottom: 15px;
}

img {
    width: 165px;
    height: 110px;
}





footer {
    display: flex;
    justify-content: space-between;
    height: 11vh;
    background-color: rgb(39, 39, 39);
}

#left {
    display: flex;
    justify-content: space-between;
    width: 11%;
}

.sin {
    width: 35%;
    margin-left: 5px;
}

.des {
    width: 50%;
}

.sopra {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.micro {
    line-height: 39px;
    color: white;
    font-size: 22px;
}

.camera {
    line-height: 39px;
    color: white;
    font-size: 22px;
    padding-left: 5px;
}

.punta {
    font-size: 9px;
    color: white;
    margin-top: 20px;

}

.scritta {
    font-size: 11px;
    color: white;
    margin-bottom: 10px;
    align-self: flex-start;
}




#middle {
    display: flex;
    justify-content: space-between;
    width: 60%;
}


.figura-cen {
    display: center;
    width: 12.5%;
    color: white;
    font-size: 22px;
    margin-top: 8px;
}

.prima {
    width: 10%;
}

.seconda {
    width: 15%;
}

.chat {
    width: 8%;
}

.figura {
    display: flex;
    justify-content: center;
}

.green {
    color: rgb(0, 199, 0);
}

.scritta-cen {
    max-width: auto;
    font-size: 11px;
    margin-top: 9px;
}

.prima {
    padding-left: 20px;
}

.scentrata {
    padding-left: 35px;
}

.openchat {
    padding-left: 20px;
}

.share {
    padding-left: 10px;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 100%;
    font-size: 13px;
    color: red;
    background-color:rgb(87, 87, 87)
}






